caption {
	text-align: left;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
}

.tr {
	border-bottom: 0;
}

.tr:nth-child(2n) {
	background-color: var(--orange-lighten-4);
}

.tr > td:nth-child(1) {
	text-align: center;
}

.tr > td:nth-child(2) {
	font-weight: 600;
}

tr > td:nth-child(3) {
	text-align: right;
}

.td {
	padding: 5px;
	font-size: 16px;
}

@media (min-width: 650px) {
	.table {
		width: 500px;
	}
}
