.headTitle {
	text-align: center;
}

.recipeStepWrapper {
	margin-top: 20px;
	padding: 15px;
	border: 1px dashed var(--gray);
	text-align: right;
}

.recipeStepBlock {
	border: 1px dashed var(--gray);
	margin-bottom: 10px;
}

.imgWrapper {
	width: 100%;
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

.img {
	height: 170px;
	width: 250px;
}

.addButton {
	transform: scale(0.8);
}
