.wrapper {
	display: flex;
	justify-content: center;
	background-color: var(--gray-light-3-color);
}

.textline {
	width: 800px;
	background-color: var(--gray-light-5-color);
	margin-left: 15px;
}

.serch_btn {
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
}
