.wrapper {
	display: flex;
	justify-content: center;
	background-color: var(--gray-light-3-color);
}

.textline {
	background-color: var(--gray-light-5-color) !important;
	color: var(--gray) !important;
	margin-left: 15px !important;
	margin-top: 10px !important;
	padding-left: 15px !important;
}

.textline::placeholder {
	color: var(--gray) !important;
}

.select {
	margin-top: 10px;
	height: 45px !important;
	margin-left: 10px;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 2px;
	border-radius: 8px;
}

.serch_btn {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
}

.serch_btn:focus {
	background-color: rgba(0, 0, 0, 0);
}

.serch_icon {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 20px;
	cursor: pointer;
}

.serch_btn:hover {
	color: var(--red-color);
}

.btnWrapper {
	display: flex;
	justify-content: center;
}

.fakeSelect {
	margin-left: 30px;
}

.category_name {
	font-size: 40px;
	margin-left: 15px;
}
