.wrapper {
	height: 120px;
	border: 1px solid var(--dark-4-color);
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.img {
	display: block;
	height: 118px;
	width: 170px;
	border-radius: 3px 0 0 3px;
	cursor: pointer;
}

.listWrapper {
	width: 100%;
	padding-left: 15px;
}

.list {
	height: 90px;
	width: 400px;
	display: flex;
	/* justify-content: start; */
	flex-wrap: wrap;
	flex-direction: column;
}

.item {
	display: flex;
	justify-content: space-between;
	width: 120px;
	margin-right: 20px;
}

.receptName {
	font-size: 18px;
	font-weight: 600;
}

.itemName {
	display: block;
}

.itemAmount {
	display: block;
}

.leftBlock {
	display: block;
	text-align: right;
	padding-right: 15px;
}

.leftBlockCategory {
	display: block;
	font-weight: 700;
	font-size: 18px;
}

.leftBlockAutor {
	display: block;
	font-size: 16px;
}
