.wrapper {
	margin: 25px;
	border: 1px solid black;
	border-radius: 8px;
}

.secondWrapper {
	padding: 20px 100px;
}

.headTitle {
	text-align: center;
	margin-bottom: 20px;
}

.imgWrapper {
	display: flex;
	justify-content: center;
}
.mainImage {
	height: 200px;
}

.addRecipeHeader {
	display: flex;
	justify-content: space-between;
}

.recipeName {
	width: 500px;
}

.selectList {
	display: block;
	width: 150px;
}

.footer {
	width: 100%;
	text-align: center;
}
