.brand_logo {
	font-family: "Risque";
	margin-left: 20px;
	font-size: 30px;
	color: var(--red-color);
}

.head {
	display: flex;
	justify-content: space-between;
	height: 60px;
	padding-top: 7px;
}

.link_wrapper {
	display: flex;
	justify-content: center;
}

.selected_link {
	font-weight: 700;
	color: var(--dark-4-color);
	margin-left: 20px;
}

.selected_link_in {
	color: var(--red-light-2-color);
}
