.userMenu {
	margin-right: 20px;
	margin-top: 10px;
}

.userName {
	color: var(--dark-4-color);
}

.exitBtn {
	color: var(--red-color);
	border: 0;
	background-color: rgba(255, 255, 255, 0);
	font-weight: 600;
	font-size: 17px;
}

.exitBtn:hover {
	color: var(--red-light-3-color);
}

.exitBtn:active {
	color: var(--gray);
}
