.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100vh;
}

.form {
	width: 300px;
	margin-top: 80px;
	text-align: center;
}

.headText {
	display: block;
	color: var(--red-color);
}

.formBtn {
	width: 150px;
}
