/* .ingidientWrapper {
	display: flex;
	flex-wrap: wrap;
} */

.ingridientBlock {
	width: 100%;
	display: flex;
}

.ingridientBlock > input {
	/* width: 40% !important; */
	display: block;
	color: var(--gray);
	margin-top: 10px !important;
	margin-right: 10px !important;
}

.ingridientBlock > input:nth-child(1) {
	width: calc(100% - 150px) !important;
}

.ingridientBlock > input:nth-child(2) {
	width: 70px !important;
}

.ingridientBlock > input::placeholder {
	color: brown;
}

.addButton {
	transform: scale(0.7);
	/* width: 70px !important; */
}

.icon {
	width: auto !important;
}
